In [1]:
a=5
b=15
c=8

if a>b and a>c:
    print(a,"is the biggest number")
elif b>c:
    print(b,"is the biggest number")
else:
    print(c,"is the biggest number")

15 is the biggest number

In [2]:
n=int(input("enter a number:"))

if n%2==0:
    print(n,"is the even number")
else:
    print(n,"is not even number")

enter a number:56
56 is the even number

In [7]:
year=int(input("enter the year:"))

if (year % 400==0) or (year % 4==0 and year % 100!=0):
    print(year,"is a leap year")
else:
    print(year,"is not a leap year")

enter the year:2021
2021 is not a leap year

### Caculation Application


- 2 inputs
- Arthematic operation

In [9]:
a=int(input("enter a number:"))
b=int(input("enter a number:"))
arthe=input("What Arthematic I need to perform:")


if arthe=='+':
    print(a+b)
elif arthe=='-':
    print(a-b)
elif arthe=='*':
    print(a*b)
else:
    print("Given arthematic operation is invalid")

enter a number:6999798654
enter a number:665432245
What Arthematic I need to perform:+
7665230899

### Loops in Python

Executes the block of code for multiple times

#### Syntax
- For loop -> how many times I need to execute the loop

```python
for IterativeVariable in SeqOfData:
    Block of Code
```
    
- While loop -> based on the condition

```python
init
while condition:
    block of code
    inc/dec
```

In [15]:
for i in range(1,101,1):
    print(i, end= '\t')

1	2	3	4	5	6	7	8	9	10	11	12	13	14	15	16	17	18	19	20	21	22	23	24	25	26	27	28	29	30	31	32	33	34	35	36	37	38	39	40	41	42	43	44	45	46	47	48	49	50	51	52	53	54	55	56	57	58	59	60	61	62	63	64	65	66	67	68	69	70	71	72	73	74	75	76	77	78	79	80	81	82	83	84	85	86	87	88	89	90	91	92	93	94	95	96	97	98	99	100

In [16]:
for i in range(1,101,2):
    print(i,end='\t')

1	3	5	7	9	11	13	15	17	19	21	23	25	27	29	31	33	35	37	39	41	43	45	47	49	51	53	55	57	59	61	63	65	67	69	71	73	75	77	79	81	83	85	87	89	91	93	95	97	99

Even values between 1 to 1000

In [18]:
for num in range(1,1001,1):
    if num%2==0:
        print(num, end='\t')

2	4	6	8	10	12	14	16	18	20	22	24	26	28	30	32	34	36	38	40	42	44	46	48	50	52	54	56	58	60	62	64	66	68	70	72	74	76	78	80	82	84	86	88	90	92	94	96	98	100	102	104	106	108	110	112	114	116	118	120	122	124	126	128	130	132	134	136	138	140	142	144	146	148	150	152	154	156	158	160	162	164	166	168	170	172	174	176	178	180	182	184	186	188	190	192	194	196	198	200	202	204	206	208	210	212	214	216	218	220	222	224	226	228	230	232	234	236	238	240	242	244	246	248	250	252	254	256	258	260	262	264	266	268	270	272	274	276	278	280	282	284	286	288	290	292	294	296	298	300	302	304	306	308	310	312	314	316	318	320	322	324	326	328	330	332	334	336	338	340	342	344	346	348	350	352	354	356	358	360	362	364	366	368	370	372	374	376	378	380	382	384	386	388	390	392	394	396	398	400	402	404	406	408	410	412	414	416	418	420	422	424	426	428	430	432	434	436	438	440	442	444	446	448	450	452	454	456	458	460	462	464	466	468	470	472	474	476	478	480	482	484	486	488	490	492	494	496	498	500	502	504	506	508	510	512	514	516	518	520	522	524	526	528	530	532	534	536	538	540	542	544	546	548	550	552	554	556	558	560	562	564	566	568	570	572	574	576	578	580	582	584	586	588	590	592	594	596	598	600	602	604	606	608	610	612	614	616	618	620	622	624	626	628	630	632	634	636	638	640	642	644	646	648	650	652	654	656	658	660	662	664	666	668	670	672	674	676	678	680	682	684	686	688	690	692	694	696	698	700	702	704	706	708	710	712	714	716	718	720	722	724	726	728	730	732	734	736	738	740	742	744	746	748	750	752	754	756	758	760	762	764	766	768	770	772	774	776	778	780	782	784	786	788	790	792	794	796	798	800	802	804	806	808	810	812	814	816	818	820	822	824	826	828	830	832	834	836	838	840	842	844	846	848	850	852	854	856	858	860	862	864	866	868	870	872	874	876	878	880	882	884	886	888	890	892	894	896	898	900	902	904	906	908	910	912	914	916	918	920	922	924	926	928	930	932	934	936	938	940	942	944	946	948	950	952	954	956	958	960	962	964	966	968	970	972	974	976	978	980	982	984	986	988	990	992	994	996	998	1000

1. Get the Leap year between the given range
    - Starting range and ending range is given as input
2. Get the prime numbers between the given range
3. Fibonacci Series of the range n

### While loop

In [19]:
i=1
while i<101:
    print(i, end='\t')
    i+=1

1	2	3	4	5	6	7	8	9	10	11	12	13	14	15	16	17	18	19	20	21	22	23	24	25	26	27	28	29	30	31	32	33	34	35	36	37	38	39	40	41	42	43	44	45	46	47	48	49	50	51	52	53	54	55	56	57	58	59	60	61	62	63	64	65	66	67	68	69	70	71	72	73	74	75	76	77	78	79	80	81	82	83	84	85	86	87	88	89	90	91	92	93	94	95	96	97	98	99	100

- Break: To terminate the execution of the loop
- Continue: Skip the current execution of the loop

print the numbers between 1 to 100 whenever I reached 50 stop travelling

In [20]:
for travel in range(1, 101, 1):
    if travel ==50:
        break
    print(travel,end='\t')

1	2	3	4	5	6	7	8	9	10	11	12	13	14	15	16	17	18	19	20	21	22	23	24	25	26	27	28	29	30	31	32	33	34	35	36	37	38	39	40	41	42	43	44	45	46	47	48	49

In [22]:
for travel in range(1, 101, 1):
    if travel ==50:
        break
    elif travel % 2==0:
        continue
    print(travel,end='\t')

1	3	5	7	9	11	13	15	17	19	21	23	25	27	29	31	33	35	37	39	41	43	45	47	49

In [23]:
while True:
    inp=input()
    if inp == 'cancel':
        print("Loop Terminated")
        break
    print(inp)

jnthf
jnthf
jncgjn
jncgjn
cnjkgn
cnjkgn
 bknb
 bknb
break
break
cancel
Loop Terminated

### Strings
it is a group of data enclosed between "",'',"""""",'''''' are called strings in python

#### Properties of strings

- It is immutable data type
- It is iterable

In [24]:
s ='I am a single line String'
s2= "I'm also a single line string"
s3=''' Iam
a
multi
line
string'''

In [26]:
print(type(s),type(s2),type(s3))

<class 'str'> <class 'str'> <class 'str'>