### Python Basics
## Today Objectives



- Input and Output
- Variables in Python
- Type Conversions in python
- Operators in Python
- Conditional Statements

In [1]:
print("Hello World")

Hello World

In [2]:
print("Today date is",29)

Today date is 29

In [4]:
print("Today date is",29,sep='-')

Today date is-29

In [5]:
print(1,2,3,4,5,6, sep='\t')

1	2	3	4	5	6

In [6]:
print(1,2,3,4,5,6, sep='abc')

1abc2abc3abc4abc5abc6

In [7]:
print("Hello World")
print("Hello World")
print("Hello World")

Hello World
Hello World
Hello World

In [10]:
print("Hello World", end='\t')
print("Hello World")
print("Hello World")

Hello World	Hello World
Hello World

### Variables

It is the named memory location which holds some value


### Properties of declaring a variable


- It can contain AZaz09_
- It should not start with a number
- No special characters should included in variable name except `_` 
- Keywords are not allowed
- Case Sensitive

In [11]:
a=10
A=5

In [14]:
a=55
_a=2256
#1a=66
#a-b=23+66
_=625
a9='Python'
a9_='APSSDC'

### Data Types in Python


- Primary Data Types -> int, float, complex, string, boolean
- Secondary Data Types -> Containers ->List, Tuple, Dictionary, set

In [16]:
a = 55
b = 55.66
c = 5+6j
d = True
e = 'a+5/.,;'
f = ['python', 65, 5+6j, 55.665]
g = ('python',65,5+6j,55.665)
h = { 'Name' : 'Python'}
i = {1,2,3,4}

In [28]:
print(type(a), type(b), type(c), type(d),type(e), type(f),type(g), type(h), sep='\n')

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

In [32]:
a=input()
print(type(a))

89
<class 'str'>

In [33]:
a=int(input())
print(type(a))

67
<class 'int'>

In [34]:
a=float(input())
print(a,type(a))

55.9
55.9 <class 'float'>

### Number System

- Decimal -> 10 -> 0-9
- Binary -> 2 -> 0,1
- Octal -> 8 -> 0-7
- Hexadecimal -> 16 -> 0-F

In [35]:
a = 55

print(bin(a), oct(a), hex(a))

0b110111 0o67 0x37

In [36]:
print(int('110111',2),int('67',8),int('37',16))

55 55 55

In [37]:
print(ord('a'))

97

In [38]:
print(chr(97))

a

### Operators in Python


- Arithmetic Operator -> +,-,*,/,%,//,**
- Logical -> and, or, not
- Comparision/relational -> <,>,<=,>=,==,!=
- Bitwise Operator->&(and), |(or), ~(not), ^(xor), >>(right shift),<<(left shift)
- Assignment Operator-> +=,-=,/=,%=,//=,**=
- Identity Operators -> is,not is
- Membership operators -> in,not in

In [39]:
a=4
b=10


print(a+b, a-b, a*b, a/b, a%b, a//b, a**2, sep='->')

14->-6->40->0.4->4->0->16