### Today Objectives


- Dictionary
    - Accessing Elements
    - Dictionary Methods
- Sets
    - Set Methods

### Dictionary


It is used to store non-homogenous group of data in the form of Key:value

### Properties


- It is used to store data as K:V in `{}`
- It is iterable
- ordered
    - Python 3.6 is unordered
    - Python 3.6+ is ordered
- It is iterable
- Key should be unique and it is immutable

In [43]:
d1= {}
d2= dict()


print(type(d1),type(d2))

<class 'dict'> <class 'dict'>

In [44]:
d1 = { 'RollNo':[1,2,3,4,5,6]}
print(d1)

{'RollNo': [1, 2, 3, 4, 5, 6]}

In [45]:
d1={'1234567890': ['APSSDC','Vijayawada','1/5/7','9876543210'],
    '9876543210' : ['Python', 'Earth','9/8/7','0123456789'],
    '1234567890' : ['APSSDC','Visakapatnam','1/5/7','9876543210']}
print(d1)

{'1234567890': ['APSSDC', 'Visakapatnam', '1/5/7', '9876543210'], '9876543210': ['Python', 'Earth', '9/8/7', '0123456789']}

In [46]:
d2={(1,2,3):'Python'}
print(d2)

{(1, 2, 3): 'Python'}

### Accessing the pairs from the dict

In [47]:
print(d1)

{'1234567890': ['APSSDC', 'Visakapatnam', '1/5/7', '9876543210'], '9876543210': ['Python', 'Earth', '9/8/7', '0123456789']}

In [48]:
print(d1['1234567890'])

['APSSDC', 'Visakapatnam', '1/5/7', '9876543210']

In [49]:
d1['123456789'] = ['Apssdc','Visakapatnam','1/1/2004','9876543210']

In [50]:
print(d1['123456789'])

['Apssdc', 'Visakapatnam', '1/1/2004', '9876543210']

In [51]:
print(d1['123456789'][2])

1/1/2004

In [52]:
d1['123456789'][2] = '7/7/2004'
print(d1)

{'1234567890': ['APSSDC', 'Visakapatnam', '1/5/7', '9876543210'], '9876543210': ['Python', 'Earth', '9/8/7', '0123456789'], '123456789': ['Apssdc', 'Visakapatnam', '7/7/2004', '9876543210']}

In [53]:
d1['1234567890']=sorted(d1['123456789'])

In [54]:
print(d1)

{'1234567890': ['7/7/2004', '9876543210', 'Apssdc', 'Visakapatnam'], '9876543210': ['Python', 'Earth', '9/8/7', '0123456789'], '123456789': ['Apssdc', 'Visakapatnam', '7/7/2004', '9876543210']}

In [55]:
d2={123:456,132:344,123:456}

In [56]:
print(d2)

{123: 456, 132: 344}

In [59]:
print(d2[123])

456

### Dictionary Methods

In [58]:
print(d1)

{'1234567890': ['7/7/2004', '9876543210', 'Apssdc', 'Visakapatnam'], '9876543210': ['Python', 'Earth', '9/8/7', '0123456789'], '123456789': ['Apssdc', 'Visakapatnam', '7/7/2004', '9876543210']}

In [60]:
print(d1.keys())

dict_keys(['1234567890', '9876543210', '123456789'])

In [62]:
print(d1.values())

dict_values([['7/7/2004', '9876543210', 'Apssdc', 'Visakapatnam'], ['Python', 'Earth', '9/8/7', '0123456789'], ['Apssdc', 'Visakapatnam', '7/7/2004', '9876543210']])

In [63]:
print(d1.items())

dict_items([('1234567890', ['7/7/2004', '9876543210', 'Apssdc', 'Visakapatnam']), ('9876543210', ['Python', 'Earth', '9/8/7', '0123456789']), ('123456789', ['Apssdc', 'Visakapatnam', '7/7/2004', '9876543210'])])

In [64]:
d1.get('1234567890')

['7/7/2004', '9876543210', 'Apssdc', 'Visakapatnam']

In [75]:
m21 ={ '2_1':[25,55,65,77,80,60],'3_1':[1,2,4,5,6]}
m31={'2_1':[35,55,65,77,80,60]}
m32={'2_1':[50,55,65,77,80,60],'3_2' : [6,5,4,3,2,1]}

In [76]:
print(m21)

{'2_1': [25, 55, 65, 77, 80, 60], '3_1': [1, 2, 4, 5, 6]}

In [77]:
m21.update(m31)
print(m21)

{'2_1': [35, 55, 65, 77, 80, 60], '3_1': [1, 2, 4, 5, 6]}

In [78]:
m21.update(m32)

print(m21)

{'2_1': [50, 55, 65, 77, 80, 60], '3_1': [1, 2, 4, 5, 6], '3_2': [6, 5, 4, 3, 2, 1]}

In [79]:
m21 =m31.copy()

print(m21)

{'2_1': [35, 55, 65, 77, 80, 60]}

In [80]:
m21.clear()

print(m21)

{}

In [87]:
print(m32.popitem())
print(m32)

('3_2', [6, 5, 4, 3, 2, 1])
{'2_1': [50, 55, 65, 77, 80, 60]}

In [88]:
li =[1,2,3]

a,b,c=li

print(li)

[1, 2, 3]

In [90]:
li2=[a,b,c]

print(li2)

[1, 2, 3]

In [91]:
print(len(d1))

3

### Iterating

In [92]:
for pair in d1:
    print(pair)

1234567890
9876543210
123456789

In [94]:
for pair in d1.items():
    print(pair)

('1234567890', ['7/7/2004', '9876543210', 'Apssdc', 'Visakapatnam'])
('9876543210', ['Python', 'Earth', '9/8/7', '0123456789'])
('123456789', ['Apssdc', 'Visakapatnam', '7/7/2004', '9876543210'])

In [95]:
for pair in d1.items():
    print(pair[1])

['7/7/2004', '9876543210', 'Apssdc', 'Visakapatnam']
['Python', 'Earth', '9/8/7', '0123456789']
['Apssdc', 'Visakapatnam', '7/7/2004', '9876543210']

In [98]:
for key,value in d1.items():
    print(key)
    print(value)
    print('*' * 10)

1234567890
['7/7/2004', '9876543210', 'Apssdc', 'Visakapatnam']
**********
9876543210
['Python', 'Earth', '9/8/7', '0123456789']
**********
123456789
['Apssdc', 'Visakapatnam', '7/7/2004', '9876543210']
**********

### {1:1 ,2:4,3:9..............100:10000}

In [99]:
sq = {}

for i in range(1,101):
    sq[i]=i ** 2
    
print(sq)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400, 21: 441, 22: 484, 23: 529, 24: 576, 25: 625, 26: 676, 27: 729, 28: 784, 29: 841, 30: 900, 31: 961, 32: 1024, 33: 1089, 34: 1156, 35: 1225, 36: 1296, 37: 1369, 38: 1444, 39: 1521, 40: 1600, 41: 1681, 42: 1764, 43: 1849, 44: 1936, 45: 2025, 46: 2116, 47: 2209, 48: 2304, 49: 2401, 50: 2500, 51: 2601, 52: 2704, 53: 2809, 54: 2916, 55: 3025, 56: 3136, 57: 3249, 58: 3364, 59: 3481, 60: 3600, 61: 3721, 62: 3844, 63: 3969, 64: 4096, 65: 4225, 66: 4356, 67: 4489, 68: 4624, 69: 4761, 70: 4900, 71: 5041, 72: 5184, 73: 5329, 74: 5476, 75: 5625, 76: 5776, 77: 5929, 78: 6084, 79: 6241, 80: 6400, 81: 6561, 82: 6724, 83: 6889, 84: 7056, 85: 7225, 86: 7396, 87: 7569, 88: 7744, 89: 7921, 90: 8100, 91: 8281, 92: 8464, 93: 8649, 94: 8836, 95: 9025, 96: 9216, 97: 9409, 98: 9604, 99: 9801, 100: 10000}

In [102]:
for key in sq:
    if key % 2==0:
        print(sq[key], end='--')

4--16--36--64--100--144--196--256--324--400--484--576--676--784--900--1024--1156--1296--1444--1600--1764--1936--2116--2304--2500--2704--2916--3136--3364--3600--3844--4096--4356--4624--4900--5184--5476--5776--6084--6400--6724--7056--7396--7744--8100--8464--8836--9216--9604--10000--

### Task


- Character frequency inside the string
- word frequency inside the string

In [103]:
s="Iam chandu Ganga Bhavani from guntur.Iam pursuing my third year of b.tech in rajiv gandhi university of knowledge technologies srikakulam"

In [104]:
print(s)

Iam chandu Ganga Bhavani from guntur.Iam pursuing my third year of b.tech in rajiv gandhi university of knowledge technologies srikakulam

### Contact Application



{'Name': ['Mobile1','mobile2','email','DOB','website']}

Take the input from the user

 1. Create a contact
 2. add the contact to existing contact ->key -> value
 3. edit the contact -->Key ->value
 4. delete the cotact --> key -->Name
 5. view contact ->key

In [ ]:
contact ={}
option=input("enter the option:")

In [ ]:
if option =='1':
    key = input("enter the contact name:")
    value=input("enter details with space sep").split()
    contact[key]=value
elif option =='2':
        name=input("enter the name to add the existing")
        if name in contact:
            data=input("enter the data to update").split()
            contact[name].extend(data)
        else:
            print(name,"contact is not available")
else:
    print("enter corect option")

In [ ]:
print(contact)